<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="/images/site/favicon-32x32.png">
  <title>CSE Motors</title>
  <link rel="stylesheet" href="/css/custom.css" media="screen">
</head>
<body>
  <div class="site-wrapper">
    <%- include('./partials/header') %>
    
    <main>
      <h1>Custom Vehicles</h1>
      <div class="vehicle-grid">
        <div class="vehicle-card">
          <img src="/images/vehicles/batmobile.jpg" alt="Batmobile Custom">
          <h2><a href="#">Batmobile Custom</a></h2>
          <p>$65,000</p>
        </div>
        <div class="vehicle-card">
          <img src="/images/vehicles/survan.jpg" alt="FBI Surveillance Van">
          <h2><a href="#">FBI Surveillance Van</a></h2>
          <p>$20,000</p>
        </div>
        <div class="vehicle-card">
          <img src="/images/vehicles/dog-car.jpg" alt="Dog Car">
          <h2><a href="#">Dog Car</a></h2>
          <p>$35,000</p>
        </div>
        <div class="vehicle-card">
          <img src="/images/vehicles/aerocar.jpg" alt="Custom Plane">
          <h2><a href="#">Custom Plane</a></h2>
          <p>$50,000</p>
        </div>
        <div class="vehicle-card">
          <img src="/images/vehicles/monster-truck.jpg" alt="Monster Truck">
          <h2><a href="#">Monster Truck</a></h2>
          <p>$75,000</p>
        </div>
        <div class="vehicle-card">
          <img src="/images/vehicles/mystery-van.jpg" alt="Mystery Machine">
          <h2><a href="#">Mystery Machine</a></h2>
          <p>$40,000</p>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
