<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="/images/site/favicon-32x32.png">
  <title>CSE Motors</title>
  <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>
<body>
  <div class="site-wrapper">
    <%- include('./partials/header') %>
  
    <main>
      <h1>SUV Vehicles</h1>
      <div class="vehicle-grid">
        <div class="vehicle-card">
          <img src="/images/jeep-wrangler.jpg" alt="Jeep Wrangler">
          <h2><a href="#">Jeep Wrangler</a></h2>
          <p>$35,000</p>
        </div>
        <div class="vehicle-card">
          <img src="/images/tesla-model-x.jpg" alt="Tesla Model X">
          <h2><a href="#">Tesla Model X</a></h2>
          <p>$120,000</p>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
   </div>
</body>
</html>
