<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="/images/site/favicon-32x32.png">
  <title>CSE Motors</title>
  <link rel="stylesheet" href="/css/sport.css" media="screen">
</head>
<body>
  <div class="site-wrapper">
    <%- include('./partials/header') %>
    
    <main>
      <h1>Sport vehicles</h1>
      <div class="vehicle-grid">
        <div class="vehicle-card">
          <img src="/images/vehicles/camaro.jpg" alt="Batmobile Custom">
          <h2><a href="#">Chevy Camaro</a></h2>
          <p>$25,000</p>
        </div>
        <div class="vehicle-card">
          <img src="/images/vehicles/adventador.jpg" alt="FBI Surveillance Van">
          <h2><a href="#">Lamborghini Adaventador</a></h2>
          <p>$417,650</p>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
