<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="/images/site/favicon-32x32.png">
  <title>CSE Motors</title>
  <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>
<body>
  <div class="site-wrapper">
    <%- include('./partials/header') %>

      <main>
        <h1>Truck Vehicles</h1>
        <div class="vehicle-grid">
          <div class="vehicle-card">
            <img src="/images/vehicles/escalade.jpg" alt="Cadillac Escalade">
            <h2><a href="#">Cadillac Escalade</a></h2>
            <p>$75,195</p>
          </div>
          <div class="vehicle-card">
            <img src="/images/vehicles/hummer.jpg" alt="GM Hummer">
            <h2><a href="#">GM Hummer</a></h2>
            <p>$58,800</p>
          </div>
          <div class="vehicle-card">
            <img src="/images/vehicles/fire-truck.jpg" alt="Spartan Fire Truck">
            <h2><a href="#">Spartan Fire Truck</a></h2>
            <p>$50,000</p>
          </div>
        </div>
      </main>
  </div>
</body>
</html>
